[submodule "bundle/youcompleteme"]
	path = bundle/youcompleteme
	url = https://github.com/valloric/youcompleteme
[submodule "bundle/vim-fugitive"]
	path = bundle/vim-fugitive
	url = https://github.com/tpope/vim-fugitive
